<%- include('./templates/base', {pageTitle: 'login', content: `
  <div class="admin-panel">
    <form id="loginForm">
      <h1>Login Form</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>

  <script src="./assets/scripts/userFormHandler.js"></script>
`}) %>